# Ignore these
scripts/*
bench-results.tex

# Except for these
!scripts/*.sh

!scripts/phyml_tree.fa
!scripts/EscherichiaPhageLambda.fa
!scripts/herpes.fa
!scripts/MFCexample.fa
!scripts/zika.fa

# "except except" for these
scripts/JARVIS2.sh
